.btns {
    /* Mobile */
    @media (max-width: 799px) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        width: 100%;
    }
}

.btn {
    padding: 1rem 4.2rem;
    margin-right: 12.5rem;

    border-radius: 1.2rem;
    background-color: $color-light-gray;

    transition: all .2s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
    background-color: $color-gray;
    }

    &:active {
        transform: scale(0.9);
    }

    /* Tablet */
    @media (max-width: 1269px) {
        margin-right: 8rem;
        padding-right: 2.3rem;
        padding-left: 2.3rem;
    }

    /* Mobile */
    @media (max-width: 799px) {
        display: block;
        margin-right: 0;
    }
}