$color-black: #000;
$color-white: #FFF;
$color-orange: #FFB13C;
$color-gray: #999;
$color-light-gray: #F8F8F8;

$box-shadow: 1px -3px 3px $color-black;

%border {
    border-radius: 3.2rem 3.2rem 0 0;
    background-color: $color-white;
    box-shadow: $box-shadow;
}